{{ "<!-- Portfolio Section -->" | safeHTML }}
    <div class="skillset">
      <div class="skill-title"><h3>Full Stack Web Development</h3></div>
      <div class="skill-body">
        <div class="demo">
          <img src="gifs/kizkalesi.gif" alt="" height=500 />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>
              Smart Speaker Studying Assistant is a project where users can upload textbook and
              multiple choice questions on any given topic and use a smart speaker like Alexa to ask
              them and keep track of their scores
            </p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/Bachelorarbeit">GitHub</a>
              <a href="">Demo</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/typescript.svg" alt="">
                <p>Typescript</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/react.svg" alt="">
                <p>React</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/golang.svg" alt="">
                <p>Golang</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/mongodb.svg" alt="">
                <p>MongoDB</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/docker.svg" alt="">
                <p>Docker</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/auth0.svg" alt="">
                <p>Auth0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-title odd"><h3>Machine Learning & NLP</h3></div>
      <div class="skill-body odd container">
        <div class="desc">
          <div class="desc-body">
            <p>
              Content analysis is a broad topic needed in different comercial areas where NLP bots
              are used. I've done a project to train a model to recognize user's emotional content
              according to the words used in their questions in stackoverflow.
            </p>
            <div class="desc-links">
              <a href="">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/python.svg" alt="">
                <p>Python</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/docker.svg" alt="">
                <p>Docker</p>
              </div>
              <div class="list-item">
                <img id="tensor" src="../logos/tensor.svg" alt="">
                <p>Tensorflow</p>
              </div>
            </div>
          </div>
        </div>
        <div class="demo">
          <img src="https://via.placeholder.com/500" alt="" />
        </div>
      </div>
      <div class="skill-title"><h3>Native Mobile Development</h3></div>
      <div class="skill-body container">
        <div class="demo">
          <img src="gifs/whatsapp.gif" height=700 alt="" />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>WhatsAppWithThemes is a clone of the messaging app programmed in the flutter
            ui-development-kit with the dart programming language. I chose flutter/dart since its a
            great tool to create cross-platform apps for both ios, android and soon the web.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/WhatsAppWithThemes">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/flutter.png" alt="">
                <p>Flutter</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/dart.svg" alt="">
                <p>Dart</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/firebase.svg" alt="">
                <p>Firebase</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-title odd"><h3>Bot Automation & Web Scrapping</h3></div>
      <div class="skill-body odd container">
        <div class="desc">
          <div class="desc-body">
            <p>StackOverflowDataset is a bot I've written to fetch concurrently all questions from
            stackoverflow and save them in a mongodb. All this works inside a docker container that
            can deployed anywhere while the downloads occur, since this make take some hours.
            The fetched data was used to model a machine learning project.
            </p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/StackOverflowDataset">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/python.svg" alt="">
                <p>Python</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/scrapy.png" alt="">
                <p>Scrapy</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/mongodb.svg" alt="">
                <p>MongoDB</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/docker.svg" alt="">
                <p>Docker</p>
              </div>
            </div>
          </div>
        </div>
        <div class="demo">
          <img src="gifs/stack.gif" height=500 alt="" />
        </div>
      </div>
      <div class="skill-title"><h3>Compiler Architecture</h3></div>
      <div class="skill-body container">
        <div class="demo">
          <img src="gifs/lispy.gif" height=500 alt="" />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>I've always been interested in many different programming languages, so I decided to
            learn about compiler architecture and found a very nice book which helped me create a
            dialect from lisp written in C. It made be become more familiar with a fundamental
            language which represents one of the pilars of programming, Lisp, which I've
            always found fascinating as well as the way memory is stored inside an environment.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/BuildYourOwnLisp">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <i class="devicon-c-plain colored"></i>
                <p>C</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/lisp.svg" alt="">
                <p>Lisp</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
