{{ "<!-- Portfolio Section -->" | safeHTML }}
    <div class="skillset">
      <div class="skill-title"><h3>Full Stack Web Development</h3></div>
      <div class="skill-body">
        <div class="demo">
          <img src="https://s3.eu-central-1.amazonaws.com/jmpargana.github.io/asa.gif" alt="" height=500 />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>Alexa Studying Assistant is a web application with two parts. Its a full stack
              application where users can upload their textbooks and questions and interact with the
            corresponding alexa skill to practice any topic.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/AlexaStudyingAssistant">GitHub</a>
              <a href="https://alexastudyingassistant.herokuapp.com">Demo</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/typescript.svg" alt="">
                <p>Typescript</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/react.svg" alt="">
                <p>React</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/golang.svg" alt="">
                <p>Golang</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/mongodb.svg" alt="">
                <p>MongoDB</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/docker.svg" alt="">
                <p>Docker</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/auth0.svg" alt="">
                <p>Auth0</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/aws.svg" alt="">
                <p>AWS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-title odd"><h3>Machine Learning</h3></div>
      <div class="skill-body odd container">
        <div class="desc">
          <div class="desc-body">
            <p>fcnn is a scalable fully connected neural network completely written from scratch
              using the Go Standard Library and an third party library to display the progress bar.
            fcnn takes advantage of Go's concurrency patterns to parallelize matrix multiplication
            and all operations a neural network can perform non sequentially. fcnn was also
            developed following some TDD principles. The GIF shows the binary training a
            config file with the MNIST dataset, but any other model can be trained as well, by
            defining a different dataset reader that satisfies the Reader interface.</p>
            <div class="desc-links">
              <a href="https://github.com/jmpargana/fcnn">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/golang.svg" alt="">
                <p>Go</p>
              </div>
            </div>
          </div>
        </div>
        <div class="demo">
          <img src="https://s3.eu-central-1.amazonaws.com/jmpargana.github.io/fcnn.gif"
          height=500 alt="" />
        </div>
      </div>
      <div class="skill-title"><h3>Native Mobile Development</h3></div>
      <div class="skill-body container">
        <div class="demo">
          <img src="https://s3.eu-central-1.amazonaws.com/jmpargana.github.io/whatsapp.gif" height=700 alt="" />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>WhatsAppWithThemes is a clone of the famous mobile app but fully implemented using
              the flutter framework for Cross-Platform deployment. In addition to the main design it
            also implements themes as a new feature.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/WhatsAppWithThemes">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/flutter.png" alt="">
                <p>Flutter</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/dart.svg" alt="">
                <p>Dart</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/firebase.svg" alt="">
                <p>Firebase</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-title odd"><h3>Bot Automation & Web Scrapping</h3></div>
      <div class="skill-body odd container">
        <div class="desc">
          <div class="desc-body">
            <p>StackOverflowDataset is a web scrapper which takes advantage of docker container to
              be easily deployed anywhere and fetch all stackoverflow questions to be used later in
            a NLP project.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/StackOverflowDataset">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/python.svg" alt="">
                <p>Python</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/scrapy.png" alt="">
                <p>Scrapy</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/mongodb.svg" alt="">
                <p>MongoDB</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/docker.svg" alt="">
                <p>Docker</p>
              </div>
            </div>
          </div>
        </div>
        <div class="demo">
          <img src="https://s3.eu-central-1.amazonaws.com/jmpargana.github.io/stack.gif" height=500 alt="" />
        </div>
      </div>
      <div class="skill-title"><h3>Compiler Architecture</h3></div>
      <div class="skill-body container">
        <div class="demo">
          <img src="https://s3.eu-central-1.amazonaws.com/jmpargana.github.io/lispy.gif" height=500 alt="" />
        </div>
        <div class="desc">
          <div class="desc-body">
            <p>BuildYourOwnLisp is a continuation of a project introduced by a great book that
              teaches the basics of compiler architecture with a hands on approach, where readers
              create a dialect of the lisp programming language family.</p>
            <div class="desc-links">
              <a href="//github.com/jmpargana/BuildYourOwnLisp">GitHub</a>
            </div>
          </div>
          <div class="tech">
            <div class="list">
              <div class="list-item">
                <img class="svg" src="../logos/c-original.svg" alt="">
                <p>C</p>
              </div>
              <div class="list-item">
                <img class="svg" src="../logos/lisp.svg" alt="">
                <p>Lisp</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
